<div id="app">
			<table style="width: 90%; margin-left: 40px; text-align: center; font-size: 12px;" class="ui celled table">
			  <thead>
			    <tr>
						<th rowspan="3">NO</th>
						<th rowspan="3">KABUPATEN/UPT</th>
            			<th colspan="5">SEKOLAH DASAR</th>
            			<th colspan="3">SEKOLAH MENENGAH PERTAMA</th>
            			<th rowspan="3">KET.</th>	
					</tr>

					<tr>
            			<th colspan="4">GEDUNG</th>
            			<th rowspan="2">JUMLAH MURID</th>
            			<th colspan="2">GEDUNG</th>
            			<th rowspan="2">JUMLAH MURID</th>
        			</tr>

        			<tr>
        				<th>UNIT I</th>
        				<th>LOKAL I</th>
        				<th>UNIT II</th>
        				<th>LOKAL II</th>
        				<th>UNIT</th>
        				<th>LOKAL</th>
        			</tr>
			 </thead>

			 <tbody>
			 	<tr v-for="data in gedung_pendidikan" v-if="data.nama_tahun == tahun || tahun == 'SEMUA TAHUN' ">
					<td>{{ data.id_gedung_pendidikan }}</td>
					<td>{{ data.nama_kabsulut }} | {{ data.nama_upt }}</td>
			 		<td>{{ data.unit1_sd }}</td>
			 		<td>{{ data.lokal1_sd }}</td>
			 		<td>{{ data.unit2_sd }}</td>
			 		<td>{{ data.lokal2_sd }}</td>
			 		<td>{{ data.jumlah_murid_sd }}</td>
			 		<td>{{ data.unit_smp }}</td>
			 		<td>{{ data.lokal_smp }}</td>
			 		<td>{{ data.jumlah_murid_smp }}</td>
			 		<td>{{ data.keterangan }}</td>
			 	</tr>
			 </tbody>
			</table>
</div>
