<div class="right">

			<div class="header">
				<h1 class="hallo">Hallo, Anasthasia...<br>Anda masuk sebagai Kepala UPT</h1>
				<div class="profileContainer">
					<img class="circleImage">
					<p><b>Anasthasia Rawung</b></p>
				</div>
			</div>
			

			<div style="display: flex;">
				
				<div style="margin-left:50px;" >

					<h2 class="heading">Transmigrasi</h2>
					<h3 class="paragraph">Bidang Transmigrasi mempunyai tugas untuk menyusun pedoman dan petunjuk teknis ketransmigrasian, pembinaan, pelaksanaan penyiapan, pemindahan dan kerjasama ketransmigrasian. Pada bidang ini terdapat beberapa seksi, yaitu seksi penyiapan pemukiman, seksi penempatan transmigrasi dan seksi usaha dan ekonomi sosial budaya. Seksi penyiapan pemukiman bertugas untuk menyiapkan pemukiman transmigrasi di daerah. Seksi penempatan transmigrasi melakukan pelayanan dan pengaturan penempatan, adaptasi lingkungan dan konsolidasi penempatan transmigrasi. Seksi usaha ekonomi dan sosial budaya menyusun kerja usaha ekonomi dan sosial budaya di wilayah transmigrasi.</h3>
				</div>
				<img class="peta">

			</div>
</div>