<div class="masterdata">
    <!--bagian kanan -->
		<div class="right">

			<div class="header">
				<h1 class="hallo">Hallo, Anasthasia...<br>Anda masuk sebagai Kepala UPT</h1>
				<div class="profileContainer">
					<img src="../../assets/peta.jpg" class="circleImage">
					<p><b>Anasthasia Rawung</b></p>
				</div>
			</div>
			
			<div class="tabel">

				<table border="1">

					<tr>
						<th bgcolor="#004788" style="color: white;">No</th>
						<th style="width: 100%; color: white;" bgcolor="#004788">Nama Table</th>
					</tr>

					<tr>
						<td>1</td>
						<td>Penempatan Transmigran Menurut Daerah Asal Pra Pelita</td>
					</tr>

					<tr>
						<td>2</td>
						<td>Penempatan Transmigran Menurut Daerah Asal Pelita I</td>
					</tr>

					<tr>
						<td>3</td>
						<td>Penempatan Transmigran Menurut Daerah Asal Komposisi Per Pelita</td>
					</tr>

					<tr>
						<td>4</td>
						<td>Penempatan Transmigran Menurut Daerah Asal Pelita IV</td>
					</tr>

					<tr>
						<td>5</td>
						<td>Penempatan Transmigran Menurut Daerah Asal Pelita V</td>
					</tr>

					<tr>
						<td>6</td>
						<td>Penempatan Transmigran Pra Pelita S/D Pelita VI</td>
					</tr>

					<tr>
						<td>7</td>
						<td>Penempatan Transmigrasi Menurut Posisi Waktu</td>
					</tr>

					<tr>
						<td>8</td>
						<td v-on:click="$router.replace('/tablependidikan')">Pendidikan di UPT</td>
					</tr>
					
					<tr>
						<td>9</td>
						<td v-on:click="$router.replace('/tableguru')">Tenaga Guru di UPT</td>
					</tr>

					<tr>
						<td>10</td>
						<td v-on:click="$router.replace('/tableperabotansd')">Perabotan/Perlengkapan Sekolah Dasar di UPT</td>
					</tr>
					<tr>
						<td>11</td>
						<td v-on:click="$router.replace('/tableinventaris')">Inventaris Bangunan dan Tenaga Kesehatan di UPT</td>
					</tr>
					<tr>
						<td>12</td>
						<td v-on:click="$router.replace('/tableagama')">Pembinaan Keagamaan di UPT</td>
					</tr>
				</table>
			</div>
  </div>
</div>